version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "21:40"
      timezone: "Asia/Jakarta"
    open-pull-requests-limit: 10


