name: Deploy via Self-Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # <--- INI KUNCINYA (Server Anda sendiri)
    
    steps:
      - name: Ambil Kodingan Terbaru
        uses: actions/checkout@v3
      
      - name: Install & Build
        run: |
          # Masuk folder project (Pastikan path ini BENAR)
          cd /root/next-booking-platform
          
          # Tarik update
          git pull origin main
          
          # Install & Build
          npm install
          npm run build
          
          # Restart PM2
          pm2 restart 0
